// COLORS
$colors: (
  black: #111,
  white: #fff,
  red: red,
  blue: darkblue,
  blue-soft: rgba(41, 61, 82, 0.5),
);

// BOX SIZING
$box-size-extra-small: 1rem;
$box-size-small: 3rem;
$box-size-medium: 8rem;
$box-size-large: 15rem;
